.footerContainer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    height: 200px;
}

.containerRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    padding: 0 30px 15px 30px;
    margin: 0;
}

.containerColumn p {
    margin: 5px 20px 5px 0;
    font-weight: bold;
    color: #363131;
}

.containerColumn li {
    margin-top: 18px;
    list-style: none;
    color: #363131;
    padding: 0 5px;
}

.containerColumn li:hover {
    background-color: #4b3f3f;
    border-radius: 12px;
    opacity: 0.8;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}

.containerCreaterInfo {
    background-color: #4b3f3f;
    padding: 8px;
    font-size: 15px;
}

