.logoContainer {
    display: flex;
    filter: invert(90%);
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    margin: 0 auto;
}

.logoText {
    color: #000;
    margin: auto 0 auto 4px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    top: 0;
    background-color: #4b3f3f;
}

.userProfileContainer {
    display: flex;
    margin: auto 30px auto 0;
    flex-basis: 10%;
    justify-content: right;
}

.icon {
}
