.logoContainer {
    display: flex;
    filter: invert(90%);
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    top: 0;
    background-color: #4b3f3f;
}

.userProfileContainer {
    display: flex;
    margin: auto 0 auto 0;
    flex-basis: 1%;
    justify-content: right;
}

.icon {
}

.logoText {
    color: #000;
    margin-left: 4px;
}

* {
    border: 1px solid white
}
